@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

header {
  background-color: lightgray;
  padding: 1rem 2rem;
  display: inline-block;
  align-items: center;
  width: 100%;
  position: relative;
}
h1 {
  display: inline-block; 
  margin-right: 2rem;    
  vertical-align: middle; 
}
nav {
  text-align: center;
  display: inline-block;  
  vertical-align: middle;
}
nav ul {
  list-style: none;
}

nav li button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1rem;

}
nav li button:hover {
  color: orange;
  background-color: lightgray;
}

nav li {
  display: inline-block; 
  margin: 0 10px;
}

h1:only-of-type{
    font-family: "Playwrite DE SAS", cursive;

}
