.section2{
    color: black;
    width: 40%;
    position: absolute;
    right: 5%;
    top:20%;
    z-index: 1;
    display: inline-block;
}

.section2 p:first-of-type{
     font-family: "Playwrite DE SAS", cursive;
     color: red;
}


.section2 p::after {
  content: "";
  display: inline-block;
  width: 10%;
  height: 5px;
  background-color: red; 
  margin-top: 5px; }

  .cita{
    font-size: 21px;
    font-style: italic;
    display:inline-block;
    position: absolute;
    right: 5%;
    top:80%;
  }

  .cita::before {
  content: "“"; /* comilla de apertura */
  margin-right: 4px; /* pequeño espacio entre la comilla y el texto */
}

.cita::after {
  content: "”"; /* comilla de cierre */
  margin-left: 4px; /* pequeño espacio entre el texto y la comilla */
}

.section2 img{
  position:relative;
  width: 20%;
  margin-left:30%
}