.section2{
    color: black;
    width: 40%;
    position: absolute;
    right: 5%;
    top:20%;
    z-index: 1;
    display: inline-block;
}

.section2 p:first-of-type{
     font-family: "Playwrite DE SAS", cursive;
     
}


.section2 p::after {
  content: "";
  display: inline-block;
  width: 10%;
  height: 5px;
  background-color: red; 
  margin-top: 5px; }

  .cita{
    font-size: 21px;
    font-style: italic;
    display:inline-block;
    position: absolute;
    right: 5%;
    top:80%;
  }

  .cita::before {
  content: "“"; /* comilla de apertura */
  margin-right: 4px; /* pequeño espacio entre la comilla y el texto */
}

.cita::after {
  content: "”"; /* comilla de cierre */
  margin-left: 4px; /* pequeño espacio entre el texto y la comilla */
}

.section2 img{
  position:relative;
  width: 20%;
  margin-left:30%
}

.CardContainer {
  border: 5px solid black; 
  background-color: transparent; 
  width: 20%;
  height: 20%;
  position: absolute;
  right:0;
  display: inline-block;

}

.CenterCard{
  border: 5px solid black;
  background-color: transparent;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  font-size: 10px;
}

main{
 
   background-color: var(--fondo-principal, #ffffff)

}